<html>
    <h1>
        <center>Welcome to Nationwide</center>
    </h1>

    <!-- <a href=""#>About us</a>
    <a href=""#>Services</a>
    <a href=""#>Login</a>

    <pre>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus, amet maxime quibusdam sapiente voluptates non libero quaerat commodi eligendi neque sint dolorem magni ad explicabo itaque, praesentium voluptate tempore. Quasi?</pre> -->
</html>