header {
    background-color: aquamarine;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: aliceblue;
}
h2 {
    font-style: oblique;
}
nav {
    text-align: center;
    color: crimson;
}