<HTml>
    <h1> <center>Employee Inoformation System (EIS)</center></h1>
    <a href="/addEmployee"> Add Employee</a>
<br>
    <a href="/allemployees">Employees</a>
<br>
    <a href="/departments">Departments</a>
</HTml>
