<html>
    <h1>
        <center>Select range</center>
    </h1>
    <% for (i = 10; i <= 200; i+=10) { %>
        <a href="/timestable/<%= num %>/<%= i %>"> <%= i %> </a> <br>
    <% } %>

   
</html>